<!DOCTYPE html>
<section layout="column">
    <!-- app description -->
    <div layout-padding>
        <div class="container text-center">
            <h2 class="title-font" translate="PROJECT_NAME"></h2>
            <p ng-bind-html="'PROJECT_DESCRIPTION' | translate | safe"></p>
            <md-button class="md-raised" href="https://github.com/thePortus/generator-djangular-gift/" target="_blank" translate="MORE_GIFT" aria-label="{{'MORE_GIFT'|translate}}"></md-button>
            <md-button class="md-raised" href="https://github.com/nicolaspanel/djangularjs" target="_blank" translate="MORE_DJANGULARJS" aria-label="{{'MORE_DJANGULARJS'|translate}}"></md-button>
        </div>
        <!-- /app description -->
    </div>
    <!-- features -->
    <div>
        <div ng-init="categories=(vm.features | pluck:'category' | uniq)" layout="row">
            <div ng-repeat="category in categories" layout-padding>
                <div class="md-whiteframe-1dp">
                    <md-toolbar class="md-toolbar-tools md-hue-3" ng-bind="category"></md-toolbar>
                    <md-list  md-2-line dense flex>
                        <feature-item ng-repeat="item in ::vm.features | filter:{category: category}" feature="item"></feature-item>
                    </md-list>
                </div>
            </div>
        </div>
    </div>
</section>
