@import "../../_/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "variables",
"misc",
"header.view",
"flash",
"password-strength.template",
"dropdown",
"feature-item"
,
        "feature-item.template"/* leave me here */

;

/* Defaults */
html {
    font-family: "TypoPRO Roboto";
}

body {
    padding-top: 50px;
}

/* For page/panel titles */
.title-font {
    font-family: "TypoPRO Aleo";
    font-weight: bold;
}
